








  <style>
       

        
        
     
          #img1{
            width: 600px;
            height: 500px;
           margin: 0 0 20px 0px;
           
           


          }

         

          .about-heading{
            
            display: inline-block;
           width: 600px;
           text-align: center;
          

          }

          .about{
            font-size: 50px;
            color: rgb(28, 123, 28);
          }

           .div-heading{

            text-align: center;
            font-size: 30px;
            color: blue;
           }

           .eme{
            margin: 60px ;
           }
           
          
         

    </style>


